\.\#*
\#*
\.Rhistory
*\.R~
*~
\._*
\.nfs*
\.~*
\.log
.Rproj.user
#exp/20200129-repetetive_elements-25/20200129-02_repetetive_elements_motif_homer/output
#exp/20200525-data_overlap-28/20200616-05_overlap_matrix_homer_TF/output
#attic/testing_homer/test2/homerResults
#exp/20190807-differential_transcript_and_exon_usage-11/20200708-03_isoformSwitch/output/results
#exp/20200525-data_overlap-28/20200615-04_overlap_matrix_GO_rGREAT/output
#exp/20200129-repetetive_elements-25/20200129-02_repetetive_elements_motif_homer/output
#exp/20200525-data_overlap-28/20200722-07_rGREAT_results_plot/output
#exp/20200129-repetetive_elements-25/20200805-04_rGREAT_analysis/output
#exp/20191127-motifs_enrichment_and_functional_analysis-16/20200107-05_motif_enrichment_diff_acc_homer/output
#exp/20190512-preprocessing-00/*/*/input
#exp/20190512-preprocessing-00/*/*/output
#exp/20190512-preprocessing-00/*/*/log
#exp/20200912-data_overlap_lab_lit-36/20201002-05_overlap_matrix_GO_rGREAT/output
#exp/20200912-data_overlap_lab_lit-36/20201002-06_overlap_matrix_homer_TF/output
