*.xz filter=fat -crlf
*.gz filter=fat -crlf
*.bz2 filter=fat -crlf
*.bzip2 filter=fat -crlf
*.gzip filter=fat -crlf
*.XZ filter=fat -crlf
*.tar filter=fat -crlf
*.Rdata filter=fat -crlf
*.RData filter=fat -crlf
*.rdata filter=fat -crlf
*.RDATA filter=fat -crlf
*.tsv filter=fat -crlf
*.rds filter=fat -crlf
*.rda filter=fat -crlf
*.bam filter=fat -crlf
*.bai filter=fat -crlf
*.sam filter=fat -crlf
*.fastq filter=fat -crlf
*.zip filter=fat -crlf
*.log filter=fat -crlf
*.md5 filter=fat -crlf
*.fa filter=fat -crlf
*.jar filter=fat -crlf
*.fa filter=fat -crlf
*.bt2 filter=fat -crlf
*.2bit filter=fat -crlf
log filter=fat -crlf
*.gappedPeak filter=fat -crlf
*.bdg filter=fat -crlf
*.xls filter=fat -crlf
*.xlsx filter=fat -crlf
*.broadPeak filter=fat -crlf
*.bed filter=fat -crlf
*.bedGraphfilter=fat -crlf
*.bw filter=fat -crlf
*.rnk filter=fat -crlf
*.jar filter=fat -crlf
#*.html filter=fat -crlf
*.tab filter=fat -crlf
#*.png filter=fat -crlf
*.txt filter=fat -crlf
*.tar filter=fat -crlf
*.gmt filter=fat -crlf
*.vcf filter=fat -crlf
*counts.html filter=fat -crlf
*counts.svg filter=fat -crlf
*splicing.html.html filter=fat -crlf
*splicing.svg filter=fat -crlf
*expression.html filter=fat -crlf
*expression.svg filter=fat -crlf
*results.html filter=fat -crlf
*.svg filter=fat -crlf
*.motif filter=fat -crlf
